body {
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 2% auto;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    margin-top: 6%;
  }
  
  .con-container {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .left-container,
  .right-container,
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  input,
  button {
    margin: 10px;
  }
  
  input {
    height: 200px;
    width: 300px;
  }
  
  #base-1,
  #base-2 {
    font-size: 20px;
    padding: 2% 34%;
    margin-bottom: 7%;
    margin-left: -34%;
  }
  
  textarea {
    resize: none;
  }
  
  #swap {
    padding: 8% 41%;
    margin-bottom: 5%;
    background-color: rgb(38 38 49 / 61%);
    color: white;
    border: none;
    border-radius: 11px;
    letter-spacing: 0.1rem;
  }
  
  #convert {
    padding: 8% 26%;
    background-color: rgb(38 38 49 / 61%);
    color: white;
    border: none;
    border-radius: 11px;
    letter-spacing: 0.1rem;
    margin-top: 15%;
  }
  
  #reset {
    padding: 8% 37%;
    margin-bottom: 5%;
    background-color: rgb(38 38 49 / 61%);
    color: white;
    border: none;
    border-radius: 11px;
    letter-spacing: 0.1rem;
  }
  
  #swap:active {
    box-shadow: 2px 2px 15px 2px #ffffff;
  }
  
  #convert:active {
    box-shadow: 2px 2px 15px 2px #000000;
  }
  
  #reset:active {
    box-shadow: 2px 2px 15px 2px #ffffff;
  }
  
  /* ---------------------------------------------------------------------------------------- */
  
  @media (max-width: 768px) {
    body {
      background-size: 100% 300%;
      overflow: hidden;
    }
  
    h1 {
      padding-top: 0%;
      padding-bottom: 8%;
      margin-top: 0%;
    }
  
    h2 {
      font-size: 20px;
    }
    .con-container {
      display: flex;
      flex-direction: column;
    }
  
    .left-container {
      margin-left: 15%;
      margin-top: -13%;
    }
  
    .left-container h2 {
      margin-right: 130%;
      margin-bottom: -10%;
    }
  
    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: 2%;
      margin-bottom: -106%;
      margin-left: 9%;
    }
    #swap,
    #convert,
    #reset {
      padding: 2% 10%;
      font-size: 12px;
    }
  
    #convert {
      margin-top: 4%;
    }
  
    .right-container {
      margin-top: 107%;
      margin-left: 15%;
    }
  
    .right-container h2 {
      margin-right: 135%;
      margin-bottom: -10%;
    }
  }