body {
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 6%;
}

.con-container {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container,
.right-container,
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
button {
    margin: 10px;
}

input {
    height: 200px;
    width: 300px;
}

#base-1,
#base-2 {
    font-size: 20px;
    padding: 2% 34%;
    margin-bottom: 7%;
    margin-left: -34%;
}

textarea {
    resize: none;
}

#swap {
    padding: 8% 41%;
    margin-bottom: 5%;
    background-color: rgb(38 38 49 / 61%);
    color: white;
    border: none;
    border-radius: 11px;
    letter-spacing: 0.1rem;
}

#convert {
    padding: 8% 26%;
    background-color: rgb(38 38 49 / 61%);
    color: white;
    border: none;
    border-radius: 11px;
    letter-spacing: 0.1rem;
}

/* @media(max-width:670px) {
    body {
        background-size: 100% 300%;
        overflow: hidden;
    }

    .left-container {
        margin-left: 2%;
        margin-top: -40%;
        margin-bottom: 20%;
    }

    .left-container h2 {
        margin-left: -192%;
        margin-bottom: -93%;
    }

    .right-container {
        margin-top: 60%;
        margin-left: -175%
    }

    .right-container h2 {
        margin-left: -192%;
        margin-bottom: -53%;
    }

    #base-1 {
        margin-left: -204%;
        padding: 1%;
        margin-top: 99%;
    }

    #base-2 {

        padding: 1%;
    }

    .buttons {
        margin-left: -1520%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    #swap {
        padding: 5% 20%;
        font-size: 10px;
        margin-left: -930%;

    }

    #convert {
        padding: 5% 20%;
        font-size: 10px;
    }
}

@media(max-width:550px) {
    body {
        background-size: 100% 300%;
        overflow: hidden;
        margin-top: 10%;
    }

    .left-container {
        margin-left: 16%;
        margin-top: 5%;
        margin-bottom: 20%;
        margin-bottom: 60%;
    }

    .left-container h2 {
        margin-left: -152%;
        margin-bottom: -93%;
        font-size: 20px;
    }

    .right-container {
        margin-top: 60%;
        margin-left: -205%
    }

    .right-container h2 {
        margin-left: -152%;
        margin-bottom: -53%;
        font-size: 20px;
    }

    #base-1 {
        margin-left: -204%;
        padding: 1%;
        margin-top: 99%;
    }

    #base-2 {

        padding: 1%;
    }

    .buttons {
        margin-left: -1520%;
        display: flex;
        flex-direction: row;
        margin-top: -13%;
        margin-left: 60%;
    }

    #swap {
        padding: 5% 20%;
        font-size: 10px;
        margin-left: -1050%;

    }

    #convert {
        padding: 5% 20%;
        font-size: 10px;
    }
}

@media(min-width : 520px) or (max-width:540px) {
    #swap {
        padding: 5% 20%;
        font-size: 10px;
        margin-left: -1120%;
    }
}

@media(min-width:540px) or (max-width:600px) {
    #swap {
        padding: 5% 20%;
        font-size: 10px;
        margin-left: -1220%;
    }
} */